<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Classification</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename=css_url) }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="./style.css" />
  </head>

  <style>
    a,
    button,
    input,
    select,
    h1,
    h2,
    h3,
    h4,
    h5,
    * {
      margin: 0;
      padding: 0;
      border: none;
      text-decoration: none;
      appearance: none;
      background: none;
      -webkit-font-smoothing: antialiased;
    }
  </style>
    <div class="frame-2">
      <div class="frame-1">
        <div class="header">
          <div class="heading-1-we-provide">
            <span>
              <span class="heading-1-we-provide-span">Chest</span>
              <span class="heading-1-we-provide-span2">Check</span>
            </span>
          </div>
        </div>
        <div class="section">
          <img class="section" src="static/Image/section0.png" />
          <div class="heading-1-we-provide2">
            <span>
              <span class="heading-1-we-provide-2-span">We provide</span>
              <span class="heading-1-we-provide-2-span2">diagnosis</span>
              <div class="section">
                <img class="section" src="static/Image/section0.png" />
                <div class="heading-1-we-provide2">
                  <span>
                    <span class="heading-1-we-provide-2-span">We provide</span>
                    <span class="heading-1-we-provide-2-span2">diagnosis</span>
                                  <span class="heading-1-we-provide-2-span3">using</span>
              <span class="heading-1-we-provide-2-span4">Ai</span>
              <span class="heading-1-we-provide-2-span5">
                <br />
                That You Can
              </span>
              <span class="heading-1-we-provide-2-span6">Trust!</span>
            </span>
          </div>
          <div class="heading-1-we-provide3">
            <span>
              <span class="heading-1-we-provide-3-span">Welcome</span>
              <span class="heading-1-we-provide-3-span2">
                to
                <br />
              </span>
            </span>
          </div>
          <div class="heading-1-we-provide4">
            <span>
              <span class="heading-1-we-provide-4-span">Chest</span>
              <span class="heading-1-we-provide-4-span2">Check</span>
            </span>
          </div>
        </div>
        <div class="section2">
          <div class="div-single-schedule">
            <div class="div-inner">
              <svg class="icon" width="161.21717834472656" height="1"></svg>
              <div class="heading-4-emergency-cases">
                Enabling diagnostics with AI
              </div>
              <svg class="link" width="21" height="2" viewBox="0 0 21 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_1_58)">
                  <path
                    d="M19.5019 0.998324C19.5019 1.00353 19.4651 1.008 19.3914 1.01172L15.1488 1.20926C15.0309 1.21447 14.902 1.21559 14.7621 1.21261C14.6221 1.20926 14.5521 1.20387 14.5521 1.19643V1.07143H0.763557C0.660437 1.07143 0.575732 1.06975 0.509441 1.0664C0.443149 1.06306 0.410004 1.05878 0.410004 1.05357V0.946427C0.410004 0.941219 0.443149 0.93694 0.509441 0.933592C0.575732 0.930244 0.660437 0.92857 0.763557 0.92857H14.5521V0.80357C14.5521 0.795757 14.6221 0.790363 14.7621 0.787387C14.902 0.784411 15.0309 0.785341 15.1488 0.790177L19.3914 0.985489C19.4651 0.98921 19.5019 0.993488 19.5019 0.998324Z"
                    fill="white"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_1_58">
                    <rect width="19.799" height="1" fill="white" transform="matrix(1 0 0 -1 0.410004 1.5)" />
                  </clipPath>
                </defs>
              </svg>
            </div>
          </div>
        </div>
        <div class="div-single-schedule">
          <div class="div-inner">
            <svg class="icon" width="161.21717834472656" height="1"></svg>
            <div class="heading-4-emergency-cases">
              Enabling diagnostics with AI
            </div>
            <svg
              class="link"
              width="21"
              height="2"
              viewBox="0 0 21 2"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_1_58)">
                <path
                  d="M19.5019 0.998324C19.5019 1.00353 19.4651 1.008 19.3914 1.01172L15.1488 1.20926C15.0309 1.21447 14.902 1.21559 14.7621 1.21261C14.6221 1.20926 14.5521 1.20387 14.5521 1.19643V1.07143H0.763557C0.660437 1.07143 0.575732 1.06975 0.509441 1.0664C0.443149 1.06306 0.410004 1.05878 0.410004 1.05357V0.946427C0.410004 0.941219 0.443149 0.93694 0.509441 0.933592C0.575732 0.930244 0.660437 0.92857 0.763557 0.92857H14.5521V0.80357C14.5521 0.795757 14.6221 0.790363 14.7621 0.787387C14.902 0.784411 15.0309 0.785341 15.1488 0.790177L19.3914 0.985489C19.4651 0.98921 19.5019 0.993488 19.5019 0.998324Z"
                  fill="white"
                />
              </g>
              <defs>
                <clipPath id="clip0_1_58">
                  <rect
                    width="19.799"
                    height="1"
                    fill="white"
                    transform="matrix(1 0 0 -1 0.410004 1.5)"
                  />
                </clipPath>
              </defs>
            </svg>
          </div>
        </div>
        <div class="div-single-schedule2">
          <div class="div-inner">
            <svg class="icon2" width="156.27220153808594" height="1"></svg>
            <div class="heading-4-doctors-timetable">
              Instant Pneumonia Detection quickly and accurately
            </div>
            <svg
              class="link2"
              width="21"
              height="2"
              viewBox="0 0 21 2"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_1_68)">
                <path
                  d="M19.5019 0.998324C19.5019 1.00353 19.4651 1.008 19.3914 1.01172L15.1488 1.20926C15.0309 1.21447 14.902 1.21559 14.7621 1.21261C14.6221 1.20926 14.5521 1.20387 14.5521 1.19643V1.07143H0.763557C0.660437 1.07143 0.575732 1.06975 0.509441 1.0664C0.443149 1.06306 0.410004 1.05878 0.410004 1.05357V0.946427C0.410004 0.941219 0.443149 0.93694 0.509441 0.933592C0.575732 0.930244 0.660437 0.92857 0.763557 0.92857H14.5521V0.80357C14.5521 0.795757 14.6221 0.790363 14.7621 0.787387C14.902 0.784411 15.0309 0.785341 15.1488 0.790177L19.3914 0.985489C19.4651 0.98921 19.5019 0.993488 19.5019 0.998324Z"
                  fill="white"
                />
              </g>
              <defs>
                <clipPath id="clip0_1_68">
                  <rect
                    width="19.799"
                    height="1"
                    fill="white"
                    transform="matrix(1 0 0 -1 0.410004 1.5)"
                  />
                </clipPath>
              </defs>
            </svg>
          </div>
        </div>
        <div class="div-single-schedule3">
          <div class="div-inner2">
            <svg class="icon3" width="156.27220153808594" height="1"></svg>
            <div class="heading-4-opening-hours">
              Prompt detection of pneumonia Hours
  <body>
